.input {
    -fx-pref-height: 48px;
    -fx-pref-width: 380px;
    -fx-padding: 16px;

    -fx-background-color: #FFFFFF;
    -fx-border-width: 2px;
    -fx-border-color: rgba(204, 204, 204, 0.5);
    -fx-border-radius: 5px;
}

.input:focused {
    -fx-border-width: 2px;
    -fx-border-color: #408BFF;
}

.button.login {
    -fx-pref-height: 48px;
    -fx-pref-width: 380px;

    -fx-display: flex;
    -fx-justify-content: center;
    -fx-align-items: center;

    -fx-background-color: #408BFF;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 12pt;
    -fx-font-weight: bold;

    -fx-opacity: 0.7;
}

.button.login:hover {
    -fx-opacity: 1;
    -fx-cursor: hand;
}

.h1 {
    -fx-alignment: center;
    -fx-font-weight: 600;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}

.button.link {
    -fx-border-width: 0;
    -fx-background-color: transparent;
    -fx-font-size: 14px;
}

.button.link:hover {
    -fx-cursor: hand;
    -fx-underline: true;
}

.error {
    -fx-text-fill: red;
    -fx-font-size: 10px;
}

.not-found {
    -fx-text-fill: red;
}